name: Link Check

on: pull_request

jobs:
  linkChecker:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v1.8.0
        with:
          args: --verbose --no-progress README.md
          fail: true
